/* Style for the Modal card */
.modal {
    position: fixed;

    padding: 10px;
    box-sizing: border-box;
}






/* Style for the Modal Header */



/* Style for the Modal Footer */
.modal-description {
 font-size: 26px;
    line-height: 1.5;
    background: repeating-linear-gradient(45deg, #797071, #5acaca 50%);
    margin-bottom: 20px;
   font-weight: bold;
   
   justify-content: left;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  

.btn {
    background: repeating-linear-gradient(45deg, #3f3033, #24eeee 50%);
 
    color: #fcfcfc;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);

}




.x {
    font-size: 20px;
    display: flex;
  flex-direction: column;
  margin-top: 10px;
    font-weight: bold;
    margin: auto;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 5px;

    color: #0f0f0f;
    margin-bottom: 5px;
}
.y {
font-size: 20px;
    display: flex;
  flex-direction: column;
  margin-top: 10px;
    font-weight: bold;
  margin-left: 0px;
  border-radius: 5px;

    color: #0f0f0f;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgb(102, 138, 238);
   background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}








.modal-header {
    background: repeating-linear-gradient(45deg, #524748, #5acaca 80%);

    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: relative;
    padding: "0px" 
    
}

.modal-header .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}


.modal-title {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    color: #dbe7df;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    /* Add a subtle shadow */
    /* Add a border */
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    padding: 20px;
}

.modal-footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0e2de0, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #748497, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
  